<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sampletvinput">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required to update or read existing channel and program information in TvProvider. -->
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />
    <!-- Required to update channel and program information in TvProvider. -->
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SampleInputSetupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ProgramDetailsActivity">
        </activity>

        <activity
            android:name=".ui.WebActivity">
        </activity>

        <service
            android:name=".service.SampleInputService"
            android:label="@string/sample_input_label"
            android:permission="android.permission.BIND_TV_INPUT">

            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.media.tv.TvInputService" />
            </intent-filter>
            <!--
            An XML file which describes this input. This provides a pointer to the
            SimpleTvInputSetupActivity to the system/TV app.
            -->
            <meta-data
                android:name="android.media.tv.input"
                android:resource="@xml/sampleinputservice" />
        </service>

    </application>

</manifest>
